/* ==================== General ================= */
body {
    background: url('.././img/background.jpg') no-repeat;
    margin: 30px 20px;
}

.wrapper {
    margin: auto;
    max-width: 480px;
    background: rgba(179, 144, 104, 0.877);
    border-radius: 5px;
    box-shadow: 10px 10px 40px grey;
}

/* ==================== Other ================= */
main {
    padding: 20px;
    font-family: sans-serif;
    font-style: italic;
}

main > h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(68, 57, 15);
    font-size: 2em;
}

section {
    margin: 0 40px;
}

section + a,
section > ul {
    display: inline-block;
    vertical-align: middle;
}
