* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 50px 20px 50px;
    background-color: lightgray;
}

.article_two {
    margin-top: 20px;
}

.article p,
.article_with_image p {
    color: rgb(65, 42, 42);
    font-size: 0.9em;
    text-indent: 30px;
    margin-top: 14px;
    font-style: italic;
    line-height: 20px;
}

.article p::first-letter,
.article_with_image p::first-letter {
    font-size: 1.4em;
    color: red;
}

.article h2,
.article_with_image h2,
.numbered_list h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(61, 52, 104);
}

.article h3,
.article_with_image h3,
.numbered_list li {
    font-weight: lighter;
    color: rgb(51, 26, 47);
    padding-top: 5px;
}

.article_with_image {
    margin-top: 50px;
}

.article_with_image div {
    margin: 50px;
}

.article_with_image img {
    width: 100%;
    height: auto;
}

.numbered_list {
    margin-top: 50px;
}

.numbered_list ul {
    list-style-image: url('../img/arrow.png');
    padding: 10px 0 0 40px;
}