/* ==================== Import ==================== */
@import url("https://fonts.googleapis.com/css?family=Dorsa");
@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("./about.css");
@import url("./gallery.css");
@import url("./blog.css");
@import url("./home.css");
@import url("./contact.css");
@import url("./tour.css");


/* ==================== Variable ==================== */
:root {
    /* Width */
    --wrapper-width: 1024px;

    /* Color */
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb( 38, 53, 85);
    --color-lightgray: rgb( 107, 116, 136);
    --color-gray: rgb( 78, 80, 80);
    --color-li: rgb( 56, 175, 229);
    --color-black: rgb(0, 0, 0);
    --color-blog-gray: rgb( 193, 187, 187);
    --color-destination: rgb( 203, 198, 198);

    /* Background */
    --bg-white: rgb(255, 255, 255);
    --bg-li: rgb( 56, 175, 229);
    --bg-border-li: rgb( 82, 151, 182);
    --bg-footer: rgb( 48, 69, 91);
    --bg-detalis: rgb( 252, 246, 248);
    --bg-comment: rgb( 233, 230, 230);
    --bg-com-block: rgb( 252, 250, 250);

    /* Border */
    --bor-detalis: rgb( 193, 187, 187);


    /* Font Family */
    --ff-dorsa: "Dorsa";
    --ff-pgo: "Pathway Gothic One";
    --ff-arial: "Arial";
    --ff-opensans: "OpenSans";
}

/* ==================== General ==================== */
* {
    padding: 0;
    margin: 0;
}

body {
    background: url(".././img/background_body.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    width: var(--wrapper-width);
    margin: auto;
    box-sizing: border-box;
}

/* ==================== Navigation ==================== */
.navigation {
    margin: 47px 94px 0;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--ff-pgo);
    font-size: 23px;
    color: var(--color-white);
    border-bottom: 15px solid transparent;
    box-sizing: border-box;
}

.navigation a:hover {
    color: var(--color-blue);
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
    position: relative;
}

.menu_item ul,
.submenu {
    background: var(--bg-white);
    display: none;    
    position: absolute;
    top: 35px;
    border-radius: 4px;
    box-sizing: border-box;
}

.submenu a {
    color: var(--color-lightgray);
    font-family: var(--ff-pgo);
    font-size: 16px;
}

.submenu li {
    padding: 4px 4px 0;
    text-align: center;
}

.submenu li:nth-last-of-type(1) {
    padding-bottom: 4px;
}

.submenu::before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--bg-white);   
    position: absolute;
    top: -2px;
    left: 17px; 
}

.menu_item:hover > .submenu {
    display: block;
}

/* ========== Logo ========== */
#logo {
    font-family: var(--ff-dorsa);
    color: var(--color-blue);
    font-size: 60px;
    border-radius: 77px;
    background: var(--bg-white);
    width: 138px;
    height: 138px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 39px 0;
}

/* ==================== Wrapper Content ==================== */
.wrapper_content {
    background: var(--bg-white);
    margin-top: 44px;
    padding: 117px 14px 20px 61px; 
    width: 100%;
    box-sizing: border-box;
}

.wrapper_content main {
    width: 902px;
    margin-bottom: 120px;
}
/* ==================== Tipography content ==================== */
/* ==================== h1-h6 ==================== */
.wrapper_content h2 {
    font-family: var(--ff-pgo);
    font-size: 33px;
    text-transform: uppercase;
    color: var(--color-blue);
}

.post_content h4,
.name_post h3 {
    font-family: var(--ff-arial);
    font-size: 16px;
    color: var(--color-blue);
}

.about_page h3,
.testimonial h4 {
    font-family: var(--ff-arial);
    font-size: 15px;
    color: var(--color-blue);
}

/* ==================== list ==================== */
.categories_list li,
.archive_list a,
.article_offer li {
    text-decoration: none;
    font-family: var(--ff-arial);
    font-size: 13px;
    color: var(--color-blue);
    margin-top: 15px;
    font-weight: bold;
}

.wrapper_content ul,
.footer ul {
    list-style: none;
}

.categories_list li:before,
.archive_list li:before,
.article_offer li:before {
    content: "\2192";
    margin-right: 10px;
    color: var(--color-li);
}

/* ==================== Paragraph ==================== */
 
.post_content p,
.about_page p,
.testimonial h5 {
    font-family: var(--ff-arial);
    font-size: 13px;
    color: var(--color-gray);
    margin-top: 15px;
}

/* ==================== Links ==================== */

.post_content a {
    font-family: var(--ff-arial);
    font-size: 13px;
    color: var(--color-black);
    text-decoration: none;
    margin-top: 15px;
    display: block;
    background: var(--bg-detalis);
    width: 40px;
    padding: 2px 10px;
    text-align: center;
    border: 1px solid var(--bor-detalis);
    border-radius: 3px;
}

/* ==================== Bottom back ==================== */
.bottom_back {
    position: fixed;
    bottom: 310px;
    right: 176px;
}

.bottom_back a {
    background: url(".././img/sprite.png") no-repeat;
    background-position: -160px 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 14px;
}

/* ==================== Footer ==================== */
.footer_list {
    background: var(--bg-footer);
    height: 134px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 140px;
    box-sizing: border-box;
}

.footer_list a,
.footer_list h4,
.footer_list h5 {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--ff-opensans);
    font-size: 13px;
    line-height: 2;
}

.footer_list h4 {
    font-weight: normal;
}

.footer_list h5 {
    text-transform: none;
    font-weight: normal;
    height: 20px;
}

.footer_list h5 + a {
    text-transform: none;
}

/* ==================== Social icons ==================== */
.social_links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social_links a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(".././img/sprite.png") no-repeat;
    margin-left: 10px;
}

.twitter a {
    background-position: 0 0;
    margin-left: 0;
}

.facebook a {
    background-position: -40px 0;
}

.googleplus a {
    background-position: -80px 0;
}

.linkedin a {
    background-position: -120px 0;
}

.footer h6 {
    margin-top: 20px;
    font-family: var(--ff-arial);
    font-size: 12px;
    color: var(--color-white);
    font-weight: normal;
    margin: 40px 0 10px;
    text-align: center;
}

.social_links a:hover {
    filter: invert(.7);
}